worker_processes 1;

#user nobody nogroup;
error_log  /var/log/nginx/error.log warn;
pid /var/run/nginx.pid;

events {
  worker_connections 1024; # increase if you have lots of clients
  accept_mutex off; # set to 'on' if nginx worker_processes > 1
}

http {
  include mime.types;
  default_type application/octet-stream;
  access_log /var/log/nginx/access.log combined;
  sendfile on;

  upstream gunicorn {
    server {{gunicorn.ip}}:8000;
  }

  server {
    listen 80;
    server_name checky.local;
    index index.html;
    root /usr/share/nginx/html;

    location / {
      try_files $uri$args $uri$args/ /index.html;
    }

    location /submitdata {
      proxy_pass http://gunicorn;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Host $server_name;
    }
  }
}
